

.result {
  background-color: lightgoldenrodyellow;
  height: 160px;
  width: 160px;
  display: inline-block;
  float: left;
  margin-top: 250px;
  border-radius: 25px;

}



section {
  /*background-color: honeydew;*/
  height: 720px;
  width: 550px;
  display: inline-block;
  margin-left: 30px;
  background-image: url("../img/forest.jpg")

}


.deck1,.deck2{
  border-radius: 25px;
  background-color: moccasin;
  height: 160px;
  width: 160px;
  margin: 10px auto;
  text-align: center;
}

.deckC{
  box-shadow: 10px 10px 5px  #00061a;
  border-radius: 25px;
 display: inline-block;
 border: solid 1px black;
  width: 160px;
  height: 160px;
  /*background: red;*/
  margin-left: 15px;
  background-image: url("../img/noface.png");


}

.deckP{
  box-shadow: 10px 10px 5px  #00061a;
  border-radius: 25px;
  display: inline-block;
  border: solid 1px black;
  width: 160px;
  height: 160px;
  color: white;
  margin-left: 15px;
  background-image: url("../img/Chihiro.jpg");
  }

.rock {
  /*background-color: yellow;*/
  background-image: url("../img/rock.jpg");

}

.paper {
  background-image: url("../img/paper.jpg");
}

.scissor {
  background-image: url("../img/scissor.jpg");
}

.win {
  background-image: url("../img/win.jpg");
  height:160px;
}

.lose{
  background-image: url("../img/lose.jpg");
  height:160px;
}

.tie {
  background-image: url("../img/tie.png");
  height:160px;
}

/*make it rain
*/

html{height:100%;}
body {
background:#0D343A;
background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(#000000)  );
background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(0,0,0,1) 100%);

overflow:hidden;}


.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
  width:1px;
  height:89px;
  position: absolute;
  bottom:200px;
  -webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;

}

/* animate the drops*/
@-webkit-keyframes fall {
  to {margin-top:900px;}
}
@-moz-keyframes fall {
  to {margin-top:900px;}
}



/*random*/
span {
    display: inline-block;
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: 'Lobster', cursive;

}

/*responsive*/



@media screen and (max-width: 800px) {
  .result {
    display: none;
    /* display: none; —- remove the menu, perhaps */
  }
}

@media print, screen and (max-width: 480px) {
  .result, .section {
    display: none;
  }

